body {
	background-image: url("adminbg.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.blurbox {
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
	border: solid #ccc 1px;
	border-radius: 10px;
	margin: 10px 0 0 10px;
}

a {
	text-decoration: none;
}

#main {
	margin: 10px;
}
