#snakeboardwrapper {
}

#snakeboard {
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 

	position: absolute;
	display: block;
	top: 50px;
	width: calc(26 * 24px);
	margin: auto;
}

#snakeboard div {
	background-color: black;
	border: 1px solid grey;
	box-sizing: border-box;
	float: left;
	width: 24px;
	height: 24px;
}

#snakeboard .snake {
	background-color: green;
}

#snakeboard .apple {
	background-color: red;
}
